@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: rgb(160, 68, 7);
    --secondary-color: #D4B996FF;
}

body {
    background-color: var(--primary-color);
    width: 100%;
}

html {
    font-size: 75.5%;
}

.main-section {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 500px;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
}

.seperator {
    margin: 2% auto;
    border: 1px solid white;
}

.status {
    font-size: 40px;
    color: var(--secondary-color);
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/book.png'); 
    clip-path: circle(60% at 10% 10%);
    z-index: -1;
}

.row2 {
    position: relative;
    top: -60px;
    left: 300px;
    text-align: center;
    z-index: 3;
}

.row2 h2 {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 15px;
}

.row2 img {
    margin-top: 90px;
    width: 350px;
}

.row1 h1 {
    font-size: 3rem;
    text-align: center;
    margin-left: 100px;
    font-family: 'Bodoni Moda', serif;
    margin-top: -100px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    outline: 0;
    border: 0;
    width: 350px;
    position: relative;
    height: 35px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: bold;
}

.search button {
    position: absolute;
    background-color: rgb(255, 81, 0);
    color: white;
    height: 35px;
    border-radius: 0%;
    margin-left: 88%;
}

.container {
    position: relative;
    width: 100%;
    margin-top: 3%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.not_found {
    font-size: 40px;
    color: #fff;
    margin-top: -20px;
}

.overlay {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1));
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-inner {
    background: white;
    width: 700px;
    height: 550px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
}

.overlay-inner .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}

.overlay-inner .inner-box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.overlay-inner .inner-box img {
    margin-right: 20px;
    width: 150px;
    height: 200px;
}

.overlay-inner .inner-box h3 {
    margin-top: 10px;
    color: green;
}

.overlay-inner .inner-box h4 {
    color: blue;
}

.overlay-inner .inner-box button {
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #24a0ed;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}

.overlay-inner .description {
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
}
